@page "/customer-feedback-and-survey-management-tool"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CustomerFeedbackAndSurveyManagementTool> Localizer

<div class="position-relative d-flex min-vh-100 flex-column bg-surface-soft overflow-x-hidden">
      <div class="layout-container d-flex h-100 flex-grow-1 flex-column">
        <div class="gap-1 px-4 d-flex flex-grow-1 justify-content-center py-5 dashboard-container">
          <div class="layout-content-container d-flex flex-column w-100 dashboard-sidebar d-none d-md-flex">
            <div class="d-flex h-100 ui-min-h-700 flex-column justify-content-between bg-surface-soft p-4">
              <div class="d-flex flex-column gap-4">
                <div class="d-flex flex-column gap-2">
                  <div class="d-flex align-items-center gap-3 px-3 py-2">
                    <div class="text-ink" data-icon="House" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M218.83,103.77l-80-75.48a1.14,1.14,0,0,1-.11-.11,16,16,0,0,0-21.53,0l-.11.11L37.17,103.77A16,16,0,0,0,32,115.55V208a16,16,0,0,0,16,16H96a16,16,0,0,0,16-16V160h32v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V115.55A16,16,0,0,0,218.83,103.77ZM208,208H160V160a16,16,0,0,0-16-16H112a16,16,0,0,0-16,16v48H48V115.55l.11-.1L128,40l79.9,75.43.11.1Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-ink small fw-semibold lh-base">@Localizer["Home"]</p>
                  </div>
                  <div class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 bg-accent-soft">
                    <div class="text-ink" data-icon="ListBullets" data-size="24px" data-weight="fill">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M56,128a16,16,0,1,1-16-16A16,16,0,0,1,56,128ZM40,48A16,16,0,1,0,56,64,16,16,0,0,0,40,48Zm0,128a16,16,0,1,0,16,16A16,16,0,0,0,40,176Zm176-64H88a8,8,0,0,0-8,8v16a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V120A8,8,0,0,0,216,112Zm0-64H88a8,8,0,0,0-8,8V72a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V56A8,8,0,0,0,216,48Zm0,128H88a8,8,0,0,0-8,8v16a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V184A8,8,0,0,0,216,176Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-ink small fw-semibold lh-base">@Localizer["Surveys"]</p>
                  </div>
                  <div class="d-flex align-items-center gap-3 px-3 py-2">
                    <div class="text-ink" data-icon="File" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-ink small fw-semibold lh-base">@Localizer["Templates"]</p>
                  </div>
                  <div class="d-flex align-items-center gap-3 px-3 py-2">
                    <div class="text-ink" data-icon="PresentationChart" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M216,40H136V24a8,8,0,0,0-16,0V40H40A16,16,0,0,0,24,56V176a16,16,0,0,0,16,16H79.36L57.75,219a8,8,0,0,0,12.5,10l29.59-37h56.32l29.59,37a8,8,0,1,0,12.5-10l-21.61-27H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,136H40V56H216V176ZM104,120v24a8,8,0,0,1-16,0V120a8,8,0,0,1,16,0Zm32-16v40a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm32-16v56a8,8,0,0,1-16,0V88a8,8,0,0,1,16,0Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-ink small fw-semibold lh-base">@Localizer["Reports"]</p>
                  </div>
                  <div class="d-flex align-items-center gap-3 px-3 py-2">
                    <div class="text-ink" data-icon="Gear" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Zm88-29.84q.06-2.16,0-4.32l14.92-18.64a8,8,0,0,0,1.48-7.06,107.21,107.21,0,0,0-10.88-26.25,8,8,0,0,0-6-3.93l-23.72-2.64q-1.48-1.56-3-3L186,40.54a8,8,0,0,0-3.94-6,107.71,107.71,0,0,0-26.25-10.87,8,8,0,0,0-7.06,1.49L130.16,40Q128,40,125.84,40L107.2,25.11a8,8,0,0,0-7.06-1.48A107.6,107.6,0,0,0,73.89,34.51a8,8,0,0,0-3.93,6L67.32,64.27q-1.56,1.49-3,3L40.54,70a8,8,0,0,0-6,3.94,107.71,107.71,0,0,0-10.87,26.25,8,8,0,0,0,1.49,7.06L40,125.84Q40,128,40,130.16L25.11,148.8a8,8,0,0,0-1.48,7.06,107.21,107.21,0,0,0,10.88,26.25,8,8,0,0,0,6,3.93l23.72,2.64q1.49,1.56,3,3L70,215.46a8,8,0,0,0,3.94,6,107.71,107.71,0,0,0,26.25,10.87,8,8,0,0,0,7.06-1.49L125.84,216q2.16.06,4.32,0l18.64,14.92a8,8,0,0,0,7.06,1.48,107.21,107.21,0,0,0,26.25-10.88,8,8,0,0,0,3.93-6l2.64-23.72q1.56-1.48,3-3L215.46,186a8,8,0,0,0,6-3.94,107.71,107.71,0,0,0,10.87-26.25,8,8,0,0,0-1.49-7.06Zm-16.1-6.5a73.93,73.93,0,0,1,0,8.68,8,8,0,0,0,1.74,5.48l14.19,17.73a91.57,91.57,0,0,1-6.23,15L187,173.11a8,8,0,0,0-5.1,2.64,74.11,74.11,0,0,1-6.14,6.14,8,8,0,0,0-2.64,5.1l-2.51,22.58a91.32,91.32,0,0,1-15,6.23l-17.74-14.19a8,8,0,0,0-5-1.75h-.48a73.93,73.93,0,0,1-8.68,0,8,8,0,0,0-5.48,1.74L100.45,215.8a91.57,91.57,0,0,1-15-6.23L82.89,187a8,8,0,0,0-2.64-5.1,74.11,74.11,0,0,1-6.14-6.14,8,8,0,0,0-5.1-2.64L46.43,170.6a91.32,91.32,0,0,1-6.23-15l14.19-17.74a8,8,0,0,0,1.74-5.48,73.93,73.93,0,0,1,0-8.68,8,8,0,0,0-1.74-5.48L40.2,100.45a91.57,91.57,0,0,1,6.23-15L69,82.89a8,8,0,0,0,5.1-2.64,74.11,74.11,0,0,1,6.14-6.14A8,8,0,0,0,82.89,69L85.4,46.43a91.32,91.32,0,0,1,15-6.23l17.74,14.19a8,8,0,0,0,5.48,1.74,73.93,73.93,0,0,1,8.68,0,8,8,0,0,0,5.48-1.74L155.55,40.2a91.57,91.57,0,0,1,15,6.23L173.11,69a8,8,0,0,0,2.64,5.1,74.11,74.11,0,0,1,6.14,6.14,8,8,0,0,0,5.1,2.64l22.58,2.51a91.32,91.32,0,0,1,6.23,15l-14.19,17.74A8,8,0,0,0,199.87,123.66Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-ink small fw-semibold lh-base">@Localizer["Settings"]</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layout-content-container d-flex flex-column w-100 max-w-none flex-grow-1 dashboard-main-content">
            <div class="d-flex flex-wrap justify-content-between gap-3 p-4">
              <p class="text-ink fs-3 fw-bold lh-sm min-w-0">@Localizer["SurveysTitle"]</p>
              <button
                class="d-flex ui-min-w-84px ui-max-w-200 align-items-center justify-content-center overflow-hidden rounded-3 ui-input-height-sm px-4 bg-accent-soft text-ink small fw-semibold lh-base"
              >
                <span class="truncate">@Localizer["NewSurvey"]</span>
              </button>
            </div>
            <div class="px-4 py-3">
              <label class="d-flex flex-column ui-min-w-10rem ui-input-height-lg w-100">
                <div class="d-flex w-100 flex-grow-1 align-items-stretch rounded-3 h-100">
                  <div
                    class="text-ink-muted d-flex border-0 bg-accent-soft align-items-center justify-content-center pl-4 rounded-start-3 border-end-0"
                    data-icon="MagnifyingGlass"
                    data-size="24px"
                    data-weight="regular"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    placeholder='@Localizer["SearchSurveys"]'
                    class="form-input d-flex w-100 min-w-0 flex-grow-1 overflow-hidden rounded-3 text-ink border-0 bg-accent-soft h-100 px-4 rounded-start-0 border-start-0 pl-2 fs-5 fw-normal lh-base"
                    value=""
                  />
                </div>
              </label>
            </div>
            <div class="pb-3">
              <div class="d-flex border-bottom border border-soft px-4 gap-4">
                <a class="d-flex flex-column align-items-center justify-content-center border-bottom border-3 border-primary text-ink pb-3 pt-4" href="#">
                  <p class="text-ink small fw-bold lh-base">@Localizer["AllSurveys"]</p>
                </a>
                <a class="d-flex flex-column align-items-center justify-content-center border-bottom border-3 border-transparent text-ink-muted pb-3 pt-4" href="#">
                  <p class="text-ink-muted small fw-bold lh-base">@Localizer["Active"]</p>
                </a>
                <a class="d-flex flex-column align-items-center justify-content-center border-bottom border-3 border-transparent text-ink-muted pb-3 pt-4" href="#">
                  <p class="text-ink-muted small fw-bold lh-base">@Localizer["Drafts"]</p>
                </a>
              </div>
            </div>
            <div class="px-4 py-3 container">
              <div class="d-flex overflow-hidden rounded-3 border border-soft bg-surface-soft">
                <table class="flex-grow-1">
                  <thead>
                    <tr class="bg-surface-soft">
                      <th class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-120 px-4 py-3 text-start text-ink ui-width-400 small fw-semibold lh-base">
                        @Localizer["SurveyName"]
                      </th>
                      <th class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-240 px-4 py-3 text-start text-ink ui-width-60 small fw-semibold lh-base">@Localizer["Status"]</th>
                      <th class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-360 px-4 py-3 text-start text-ink ui-width-400 small fw-semibold lh-base">
                        @Localizer["Responses"]
                      </th>
                      <th class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-480 px-4 py-3 text-start text-ink ui-width-400 small fw-semibold lh-base">
                        @Localizer["CompletionRate"]
                      </th>
                      <th class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-600 px-4 py-3 text-start text-ink ui-width-400 small fw-semibold lh-base">@Localizer["Created"]</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-top border-soft">
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-120 ui-min-h-72 px-4 py-2 ui-width-400 text-ink small fw-normal lh-base">
                        @Localizer["CustomerSatisfactionSurvey"]
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-240 ui-min-h-72 px-4 py-2 ui-width-60 small fw-normal lh-base">
                        <button
                          class="d-flex ui-min-w-84px ui-max-w-480 align-items-center justify-content-center overflow-hidden rounded-3 ui-input-height-sm px-4 bg-accent-soft text-ink small fw-semibold lh-base w-100"
                        >
                          <span class="truncate">@Localizer["Active"]</span>
                        </button>
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-360 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">250</td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-480 ui-min-h-72 px-4 py-2 ui-width-400 small fw-normal lh-base">
                        <div class="d-flex align-items-center gap-3">
                          <div class="ui-width-88 overflow-hidden rounded bg-surface-soft"><div class="h-1 rounded-pill bg-primary text-white" style="width: 85.2273%;"></div></div>
                          <p class="text-ink small fw-semibold lh-base">75</p>
                        </div>
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-600 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        2023-08-15
                      </td>
                    </tr>
                    <tr class="border-top border-soft">
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-120 ui-min-h-72 px-4 py-2 ui-width-400 text-ink small fw-normal lh-base">
                        @Localizer["ProductFeedbackSurvey"]
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-240 ui-min-h-72 px-4 py-2 ui-width-60 small fw-normal lh-base">
                        <button
                          class="d-flex ui-min-w-84px ui-max-w-480 align-items-center justify-content-center overflow-hidden rounded-3 ui-input-height-sm px-4 bg-accent-soft text-ink small fw-semibold lh-base w-100"
                        >
                          <span class="truncate">@Localizer["Draft"]</span>
                        </button>
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-360 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">0</td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-480 ui-min-h-72 px-4 py-2 ui-width-400 small fw-normal lh-base">
                        <div class="d-flex align-items-center gap-3">
                          <div class="ui-width-88 overflow-hidden rounded bg-surface-soft"><div class="h-1 rounded-pill bg-primary text-white" style="width: 0%;"></div></div>
                          <p class="text-ink small fw-semibold lh-base">0</p>
                        </div>
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-600 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        2023-08-20
                      </td>
                    </tr>
                    <tr class="border-top border-soft">
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-120 ui-min-h-72 px-4 py-2 ui-width-400 text-ink small fw-normal lh-base">
                        @Localizer["EventFeedbackSurvey"]
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-240 ui-min-h-72 px-4 py-2 ui-width-60 small fw-normal lh-base">
                        <button
                          class="d-flex ui-min-w-84px ui-max-w-480 align-items-center justify-content-center overflow-hidden rounded-3 ui-input-height-sm px-4 bg-accent-soft text-ink small fw-semibold lh-base w-100"
                        >
                          <span class="truncate">@Localizer["Completed"]</span>
                        </button>
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-360 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">150</td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-480 ui-min-h-72 px-4 py-2 ui-width-400 small fw-normal lh-base">
                        <div class="d-flex align-items-center gap-3">
                          <div class="ui-width-88 overflow-hidden rounded bg-surface-soft"><div class="h-1 rounded-pill bg-primary text-white" style="width: 100%;"></div></div>
                          <p class="text-ink small fw-semibold lh-base">90</p>
                        </div>
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-600 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        2023-07-20
                      </td>
                    </tr>
                    <tr class="border-top border-soft">
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-120 ui-min-h-72 px-4 py-2 ui-width-400 text-ink small fw-normal lh-base">
                        @Localizer["WebsiteUsabilitySurvey"]
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-240 ui-min-h-72 px-4 py-2 ui-width-60 small fw-normal lh-base">
                        <button
                          class="d-flex ui-min-w-84px ui-max-w-480 align-items-center justify-content-center overflow-hidden rounded-3 ui-input-height-sm px-4 bg-accent-soft text-ink small fw-semibold lh-base w-100"
                        >
                          <span class="truncate">@Localizer["Active"]</span>
                        </button>
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-360 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">100</td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-480 ui-min-h-72 px-4 py-2 ui-width-400 small fw-normal lh-base">
                        <div class="d-flex align-items-center gap-3">
                          <div class="ui-width-88 overflow-hidden rounded bg-surface-soft"><div class="h-1 rounded-pill bg-primary text-white" style="width: 68.1818%;"></div></div>
                          <p class="text-ink small fw-semibold lh-base">60</p>
                        </div>
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-600 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        2023-08-01
                      </td>
                    </tr>
                    <tr class="border-top border-soft">
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-120 ui-min-h-72 px-4 py-2 ui-width-400 text-ink small fw-normal lh-base">
                        @Localizer["NewFeatureSurvey"]
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-240 ui-min-h-72 px-4 py-2 ui-width-60 small fw-normal lh-base">
                        <button
                          class="d-flex ui-min-w-84px ui-max-w-480 align-items-center justify-content-center overflow-hidden rounded-3 ui-input-height-sm px-4 bg-accent-soft text-ink small fw-semibold lh-base w-100"
                        >
                          <span class="truncate">@Localizer["Draft"]</span>
                        </button>
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-360 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">0</td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-480 ui-min-h-72 px-4 py-2 ui-width-400 small fw-normal lh-base">
                        <div class="d-flex align-items-center gap-3">
                          <div class="ui-width-88 overflow-hidden rounded bg-surface-soft"><div class="h-1 rounded-pill bg-primary text-white" style="width: 0%;"></div></div>
                          <p class="text-ink small fw-semibold lh-base">0</p>
                        </div>
                      </td>
                      <td class="table-cafe7f43-be03-44a9-b798-d6051697b66c-column-600 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        2023-08-25
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
