@page "/customer-segmentation-tool"
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Authorization
@using NexaCRM.UI.Services.Interfaces
@inject IStringLocalizer<CustomerSegmentationTool> Localizer
@inject AuthenticationStateProvider AuthStateProvider
@inject IRolePermissionService RolePermissionService

<div class="position-relative d-flex min-vh-100 flex-column bg-surface-soft overflow-x-hidden">
      <div class="layout-container d-flex h-100 flex-grow-1 flex-column">
        <header class="d-flex align-items-center justify-content-between text-nowrap border-bottom border border-soft px-4 py-3">
          <div class="d-flex align-items-center gap-4">
            <div class="d-flex align-items-center gap-4 text-ink">
              <div class="ui-size-4">
                <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13.8261 30.5736C16.7203 29.8826 20.2244 29.4783 24 29.4783C27.7756 29.4783 31.2797 29.8826 34.1739 30.5736C36.9144 31.2278 39.9967 32.7669 41.3563 33.8352L24.8486 7.36089C24.4571 6.73303 23.5429 6.73303 23.1514 7.36089L6.64374 33.8352C8.00331 32.7669 11.0856 31.2278 13.8261 30.5736Z"
                    fill="currentColor"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M39.998 35.764C39.9944 35.7463 39.9875 35.7155 39.9748 35.6706C39.9436 35.5601 39.8949 35.4259 39.8346 35.2825C39.8168 35.2403 39.7989 35.1993 39.7813 35.1602C38.5103 34.2887 35.9788 33.0607 33.7095 32.5189C30.9875 31.8691 27.6413 31.4783 24 31.4783C20.3587 31.4783 17.0125 31.8691 14.2905 32.5189C12.0012 33.0654 9.44505 34.3104 8.18538 35.1832C8.17384 35.2075 8.16216 35.233 8.15052 35.2592C8.09919 35.3751 8.05721 35.4886 8.02977 35.589C8.00356 35.6848 8.00039 35.7333 8.00004 35.7388C8.00004 35.739 8 35.7393 8.00004 35.7388C8.00004 35.7641 8.0104 36.0767 8.68485 36.6314C9.34546 37.1746 10.4222 37.7531 11.9291 38.2772C14.9242 39.319 19.1919 40 24 40C28.8081 40 33.0758 39.319 36.0709 38.2772C37.5778 37.7531 38.6545 37.1746 39.3151 36.6314C39.9006 36.1499 39.9857 35.8511 39.998 35.764ZM4.95178 32.7688L21.4543 6.30267C22.6288 4.4191 25.3712 4.41909 26.5457 6.30267L43.0534 32.777C43.0709 32.8052 43.0878 32.8338 43.104 32.8629L41.3563 33.8352C43.104 32.8629 43.1038 32.8626 43.104 32.8629L43.1051 32.865L43.1065 32.8675L43.1101 32.8739L43.1199 32.8918C43.1276 32.906 43.1377 32.9246 43.1497 32.9473C43.1738 32.9925 43.2062 33.0545 43.244 33.1299C43.319 33.2792 43.4196 33.489 43.5217 33.7317C43.6901 34.1321 44 34.9311 44 35.7391C44 37.4427 43.003 38.7775 41.8558 39.7209C40.6947 40.6757 39.1354 41.4464 37.385 42.0552C33.8654 43.2794 29.133 44 24 44C18.867 44 14.1346 43.2794 10.615 42.0552C8.86463 41.4464 7.30529 40.6757 6.14419 39.7209C4.99695 38.7775 3.99999 37.4427 3.99999 35.7391C3.99999 34.8725 4.29264 34.0922 4.49321 33.6393C4.60375 33.3898 4.71348 33.1804 4.79687 33.0311C4.83898 32.9556 4.87547 32.8935 4.9035 32.8471C4.91754 32.8238 4.92954 32.8043 4.93916 32.7889L4.94662 32.777L4.95178 32.7688ZM35.9868 29.004L24 9.77997L12.0131 29.004C12.4661 28.8609 12.9179 28.7342 13.3617 28.6282C16.4281 27.8961 20.0901 27.4783 24 27.4783C27.9099 27.4783 31.5719 27.8961 34.6383 28.6282C35.082 28.7342 35.5339 28.8609 35.9868 29.004Z"
                    fill="currentColor"
                  ></path>
                </svg>
              </div>
              <h2 class="text-ink small fw-bold lh-sm">@Localizer["Connectly"]</h2>
            </div>
            <div class="d-none d-md-flex align-items-center gap-2 overflow-x-auto">
              <a class="text-ink small fw-semibold lh-base text-nowrap" href="#">@Localizer["Dashboard"]</a>
              <a class="text-ink small fw-semibold lh-base text-nowrap" href="#">@Localizer["Contacts"]</a>
              <a class="text-ink small fw-semibold lh-base text-nowrap" href="#">@Localizer["Companies"]</a>
              <a class="text-ink small fw-semibold lh-base text-nowrap" href="#">@Localizer["Deals"]</a>
              <a class="text-ink small fw-semibold lh-base text-nowrap" href="#">@Localizer["Marketing"]</a>
              <a class="text-ink small fw-semibold lh-base text-nowrap" href="#">@Localizer["Reports"]</a>
            </div>
          </div>
          <div class="d-flex flex-grow-1 justify-content-end gap-2">
            <label class="d-none d-md-flex flex-column ui-min-w-8rem ui-height-40 ui-max-w-256">
              <div class="d-flex w-100 flex-grow-1 align-items-stretch rounded-3 h-100">
                <div
                  class="text-ink-muted d-flex border-0 bg-accent-soft align-items-center justify-content-center pl-2 rounded-start-3 border-end-0"
                  data-icon="MagnifyingGlass"
                  data-size="24px"
                  data-weight="regular"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" class="" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg>
                </div>
                <input
                  placeholder='@Localizer["Search"]'
                  class="form-input d-flex w-100 min-w-0 flex-grow-1 overflow-hidden rounded-3 text-ink border-0 bg-accent-soft h-100 px-2 rounded-start-0 border-start-0 pl-2 small fw-normal lh-base"
                  value=""
                />
              </div>
            </label>
            <button
              class="d-flex ui-max-w-120 align-items-center justify-content-center overflow-hidden rounded-3 ui-input-height bg-accent-soft text-ink gap-2 small fw-bold lh-base min-w-0 px-2"
            >
              <div class="text-ink" data-icon="Question" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" class="" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M140,180a12,12,0,1,1-12-12A12,12,0,0,1,140,180ZM128,72c-22.06,0-40,16.15-40,36v4a8,8,0,0,0,16,0v-4c0-11,10.77-20,24-20s24,9,24,20-10.77,20-24,20a8,8,0,0,0-8,8v8a8,8,0,0,0,16,0v-.72c18.24-3.35,32-17.9,32-35.28C168,88.15,150.06,72,128,72Zm104,56A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"
                  ></path>
                </svg>
              </div>
            </button>
            <div
              class="ui-aspect-square rounded-pill ui-size-8"
              style='background-image: linear-gradient(135deg, #6366f1 0%, #8b5cf6 100%);'
            ></div>
          </div>
        </header>
        <div class="gap-1 px-4 d-flex flex-grow-1 justify-content-center py-5 dashboard-container">
          <div class="layout-content-container d-flex flex-column w-100 dashboard-sidebar d-none d-md-flex">
            <div class="d-flex h-100 ui-min-h-700 flex-column justify-content-between bg-surface-soft p-4">
              <div class="d-flex flex-column gap-4">
                <div class="d-flex flex-column gap-2">
                  <div class="d-flex align-items-center gap-3 px-3 py-2 rounded-3 bg-accent-soft">
                    <div class="text-ink" data-icon="ListBullets" data-size="24px" data-weight="fill">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M56,128a16,16,0,1,1-16-16A16,16,0,0,1,56,128ZM40,48A16,16,0,1,0,56,64,16,16,0,0,0,40,48Zm0,128a16,16,0,1,0,16,16A16,16,0,0,0,40,176Zm176-64H88a8,8,0,0,0-8,8v16a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V120A8,8,0,0,0,216,112Zm0-64H88a8,8,0,0,0-8,8V72a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V56A8,8,0,0,0,216,48Zm0,128H88a8,8,0,0,0-8,8v16a8,8,0,0,0,8,8H216a8,8,0,0,0,8-8V184A8,8,0,0,0,216,176Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-ink small fw-semibold lh-base">@Localizer["AllSegments"]</p>
                  </div>
                  <div class="d-flex align-items-center gap-3 px-3 py-2">
                    <div class="text-ink" data-icon="UsersThree" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-ink small fw-semibold lh-base">@Localizer["StaticLists"]</p>
                  </div>
                  <div class="d-flex align-items-center gap-3 px-3 py-2">
                    <div class="text-ink" data-icon="UsersThree" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-ink small fw-semibold lh-base">@Localizer["DynamicLists"]</p>
                  </div>
                  <div class="d-flex align-items-center gap-3 px-3 py-2">
                    <div class="text-ink" data-icon="UsersThree" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-ink small fw-semibold lh-base">@Localizer["PropertyBasedLists"]</p>
                  </div>
                  <div class="d-flex align-items-center gap-3 px-3 py-2">
                    <div class="text-ink" data-icon="UsersThree" data-size="24px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                          d="M244.8,150.4a8,8,0,0,1-11.2-1.6A51.6,51.6,0,0,0,192,128a8,8,0,0,1-7.37-4.89,8,8,0,0,1,0-6.22A8,8,0,0,1,192,112a24,24,0,1,0-23.24-30,8,8,0,1,1-15.5-4A40,40,0,1,1,219,117.51a67.94,67.94,0,0,1,27.43,21.68A8,8,0,0,1,244.8,150.4ZM190.92,212a8,8,0,1,1-13.84,8,57,57,0,0,0-98.16,0,8,8,0,1,1-13.84-8,72.06,72.06,0,0,1,33.74-29.92,48,48,0,1,1,58.36,0A72.06,72.06,0,0,1,190.92,212ZM128,176a32,32,0,1,0-32-32A32,32,0,0,0,128,176ZM72,120a8,8,0,0,0-8-8A24,24,0,1,1,87.24,82a8,8,0,1,0,15.5-4A40,40,0,1,0,37,117.51,67.94,67.94,0,0,0,9.6,139.19a8,8,0,1,0,12.8,9.61A51.6,51.6,0,0,1,64,128,8,8,0,0,0,72,120Z"
                        ></path>
                      </svg>
                    </div>
                    <p class="text-ink small fw-semibold lh-base">@Localizer["EngagementBasedLists"]</p>
                  </div>
                </div>
              </div>
              <RoleBasedComponent RequiredPermission="createcustomer" ShowAccessDeniedMessage="false">
                <button
                  class="d-flex ui-min-w-84px ui-max-w-480 align-items-center justify-content-center overflow-hidden rounded-3 ui-input-height px-4 bg-primary text-white small fw-bold lh-base"
                >
                  <span class="truncate">@Localizer["CreateList"]</span>
                </button>
              </RoleBasedComponent>
              
              <!-- Show message for Sales users explaining the restriction -->
              <AuthorizeView Roles="Sales">
                <Authorized>
                  <div class="small text-secondary italic px-4 py-2">
                    ℹ️ 영업 담당자는 기존 고객 목록을 보고 관리할 수 있지만, 새로운 목록을 생성할 수는 없습니다.
                  </div>
                </Authorized>
              </AuthorizeView>
            </div>
          </div>
          <div class="layout-content-container d-flex flex-column ui-max-w-960 flex-grow-1">
            <div class="d-flex flex-wrap justify-content-between gap-3 p-4">
              <div class="d-flex ui-min-w-18rem flex-column gap-3">
                <p class="text-ink fs-1 fw-bold lh-sm">@Localizer["CustomerSegments"]</p>
                <p class="text-ink-muted small fw-normal lh-base">@Localizer["CustomerSegmentsDescription"]</p>
              </div>
            </div>
            <div class="px-4 py-3">
              <label class="d-flex flex-column ui-min-w-10rem ui-input-height-lg w-100">
                <div class="d-flex w-100 flex-grow-1 align-items-stretch rounded-3 h-100">
                  <div
                    class="text-ink-muted d-flex border-0 bg-accent-soft align-items-center justify-content-center pl-4 rounded-start-3 border-end-0"
                    data-icon="MagnifyingGlass"
                    data-size="24px"
                    data-weight="regular"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                      <path
                        d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                      ></path>
                    </svg>
                  </div>
                  <input
                    placeholder='@Localizer["SearchSegments"]'
                    class="form-input d-flex w-100 min-w-0 flex-grow-1 overflow-hidden rounded-3 text-ink border-0 bg-accent-soft h-100 px-4 rounded-start-0 border-start-0 pl-2 fs-5 fw-normal lh-base"
                    value=""
                  />
                </div>
              </label>
            </div>
            <div class="px-4 py-3 container">
              <div class="d-flex overflow-hidden rounded-3 border border-soft bg-surface-soft">
                <table class="flex-grow-1">
                  <thead>
                    <tr class="bg-surface-soft">
                      <th class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-120 px-4 py-3 text-start text-ink ui-width-400 small fw-semibold lh-base">
                        @Localizer["SegmentName"]
                      </th>
                      <th class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-240 px-4 py-3 text-start text-ink ui-width-400 small fw-semibold lh-base">@Localizer["Type"]</th>
                      <th class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-360 px-4 py-3 text-start text-ink ui-width-400 small fw-semibold lh-base">
                        @Localizer["Criteria"]
                      </th>
                      <th class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-480 px-4 py-3 text-start text-ink ui-width-400 small fw-semibold lh-base">@Localizer["Size"]</th>
                      <th class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-600 px-4 py-3 text-start text-ink ui-width-400 small fw-semibold lh-base">
                        @Localizer["CreatedAt"]
                      </th>
                      <th class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-720 px-4 py-3 text-start text-ink ui-width-60 text-ink-muted small fw-semibold lh-base">
                        @Localizer["Actions"]
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-top border-soft">
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-120 ui-min-h-72 px-4 py-2 ui-width-400 text-ink small fw-normal lh-base">
                        @Localizer["HighValueCustomers"]
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-240 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">@Localizer["Dynamic"]</td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-360 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        @Localizer["PurchaseHistory"]
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-480 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">500</td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-600 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        2023-01-15
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-720 ui-min-h-72 px-4 py-2 ui-width-60 text-ink-muted small fw-bold lh-base">
                        @Localizer["View"]
                      </td>
                    </tr>
                    <tr class="border-top border-soft">
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-120 ui-min-h-72 px-4 py-2 ui-width-400 text-ink small fw-normal lh-base">
                        @Localizer["ActiveUsers"]
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-240 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">@Localizer["Dynamic"]</td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-360 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        @Localizer["LastLogin"]
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-480 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">1200</td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-600 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        2023-02-20
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-720 ui-min-h-72 px-4 py-2 ui-width-60 text-ink-muted small fw-bold lh-base">
                        @Localizer["View"]
                      </td>
                    </tr>
                    <tr class="border-top border-soft">
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-120 ui-min-h-72 px-4 py-2 ui-width-400 text-ink small fw-normal lh-base">
                        @Localizer["NewLeads"]
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-240 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">@Localizer["Static"]</td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-360 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        @Localizer["LeadSource"]
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-480 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">300</td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-600 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        2023-03-10
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-720 ui-min-h-72 px-4 py-2 ui-width-60 text-ink-muted small fw-bold lh-base">
                        @Localizer["View"]
                      </td>
                    </tr>
                    <tr class="border-top border-soft">
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-120 ui-min-h-72 px-4 py-2 ui-width-400 text-ink small fw-normal lh-base">
                        @Localizer["InactiveCustomers"]
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-240 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">@Localizer["Dynamic"]</td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-360 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        @Localizer["LastPurchase"]
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-480 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">800</td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-600 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        2023-04-05
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-720 ui-min-h-72 px-4 py-2 ui-width-60 text-ink-muted small fw-bold lh-base">
                        @Localizer["View"]
                      </td>
                    </tr>
                    <tr class="border-top border-soft">
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-120 ui-min-h-72 px-4 py-2 ui-width-400 text-ink small fw-normal lh-base">
                        @Localizer["LoyalCustomers"]
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-240 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">@Localizer["Dynamic"]</td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-360 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        @Localizer["RepeatPurchases"]
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-480 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">250</td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-600 ui-min-h-72 px-4 py-2 ui-width-400 text-ink-muted small fw-normal lh-base">
                        2023-05-12
                      </td>
                      <td class="table-8c706e97-b4c9-4119-aba8-0b6e72186853-column-720 ui-min-h-72 px-4 py-2 ui-width-60 text-ink-muted small fw-bold lh-base">
                        @Localizer["View"]
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
