@page "/sales-forecasting-tool"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SalesForecastingTool> Localizer

<div
      class="relative flex size-full min-h-screen flex-col bg-slate-50 group/design-root overflow-x-hidden"
      style="--select-button-svg: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724px%27 height=%2724px%27 fill=%27rgb(77,106,153)%27 viewBox=%270 0 256 256%27%3e%3cpath d=%27M181.66,170.34a8,8,0,0,1,0,11.32l-48,48a8,8,0,0,1-11.32,0l-48-48a8,8,0,0,1,11.32-11.32L128,212.69l42.34-42.35A8,8,0,0,1,181.66,170.34Zm-96-84.68L128,43.31l42.34,42.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,48A8,8,0,0,0,85.66,85.66Z%27%3e%3c/path%3e%3c/svg%3e')"
    >
      <div class="layout-container flex h-full grow flex-col">
        <div class="gap-1 px-6 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-80">
            <h2 class="text-[#0e131b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">@Localizer["ForecastSettings"]</h2>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#0e131b] text-base font-medium leading-normal pb-2">@Localizer["ForecastingModel"]</p>
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e131b] focus:outline-0 focus:ring-0 border border-[#d0d9e7] bg-slate-50 focus:border-[#d0d9e7] h-14 bg-[image:--select-button-svg] placeholder:text-[#4d6a99] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="one"></option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#0e131b] text-base font-medium leading-normal pb-2">@Localizer["TimePeriod"]</p>
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e131b] focus:outline-0 focus:ring-0 border border-[#d0d9e7] bg-slate-50 focus:border-[#d0d9e7] h-14 bg-[image:--select-button-svg] placeholder:text-[#4d6a99] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="one"></option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#0e131b] text-base font-medium leading-normal pb-2">@Localizer["Team"]</p>
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e131b] focus:outline-0 focus:ring-0 border border-[#d0d9e7] bg-slate-50 focus:border-[#d0d9e7] h-14 bg-[image:--select-button-svg] placeholder:text-[#4d6a99] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="one"></option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
            <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
              <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#0e131b] text-base font-medium leading-normal pb-2">@Localizer["Currency"]</p>
                <select
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e131b] focus:outline-0 focus:ring-0 border border-[#d0d9e7] bg-slate-50 focus:border-[#d0d9e7] h-14 bg-[image:--select-button-svg] placeholder:text-[#4d6a99] p-[15px] text-base font-normal leading-normal"
                >
                  <option value="one"></option>
                  <option value="two">two</option>
                  <option value="three">three</option>
                </select>
              </label>
            </div>
            <h2 class="text-[#0e131b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">@Localizer["Adjustments"]</h2>
            <div class="container">
              <div class="forecast-item">
                <div class="flex w-full shrink-[3] items-center justify-between">
                  <p class="text-[#0e131b] text-base font-medium leading-normal">@Localizer["PipelineConversionRate"]</p>
                  <p class="percentage-mobile">100%</p>
                </div>
                <div class="flex h-4 w-full items-center gap-4">
                  <div class="flex h-1 flex-1 rounded-sm bg-[#d0d9e7]">
                    <div class="h-full w-[32%] rounded-sm bg-[#2a74ea]"></div>
                    <div class="relative"><div class="absolute -left-2 -top-1.5 size-4 rounded-full bg-[#2a74ea]"></div></div>
                  </div>
                  <p class="percentage-desktop">100%</p>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="forecast-item">
                <div class="flex w-full shrink-[3] items-center justify-between">
                  <p class="text-[#0e131b] text-base font-medium leading-normal">@Localizer["AverageDealSize"]</p>
                  <p class="percentage-mobile">90%</p>
                </div>
                <div class="flex h-4 w-full items-center gap-4">
                  <div class="flex h-1 flex-1 rounded-sm bg-[#d0d9e7]">
                    <div class="h-full w-[32%] rounded-sm bg-[#2a74ea]"></div>
                    <div class="relative"><div class="absolute -left-2 -top-1.5 size-4 rounded-full bg-[#2a74ea]"></div></div>
                  </div>
                  <p class="percentage-desktop">90%</p>
                </div>
              </div>
            </div>
            <div class="flex px-4 py-3">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 flex-1 bg-[#2a74ea] text-slate-50 text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">@Localizer["GenerateForecast"]</span>
              </button>
            </div>
          </div>
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#0e131b] tracking-light text-[32px] font-bold leading-tight">@Localizer["SalesForecastFor", "Q3 2024"]</p>
                <p class="text-[#4d6a99] text-sm font-normal leading-normal">@Localizer["GeneratedOn", "July 15, 2024"]</p>
              </div>
            </div>
            <h3 class="text-[#0e131b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">@Localizer["ForecastSummary"]</h3>
            <div class="flex flex-wrap gap-4 p-4">
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-lg p-6 border border-[#d0d9e7]">
                <p class="text-[#0e131b] text-base font-medium leading-normal">@Localizer["ProjectedRevenue"]</p>
                <p class="text-[#0e131b] tracking-light text-2xl font-bold leading-tight">$1,250,000</p>
              </div>
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-lg p-6 border border-[#d0d9e7]">
                <p class="text-[#0e131b] text-base font-medium leading-normal">@Localizer["BestCase"]</p>
                <p class="text-[#0e131b] tracking-light text-2xl font-bold leading-tight">$1,500,000</p>
              </div>
              <div class="flex min-w-[158px] flex-1 flex-col gap-2 rounded-lg p-6 border border-[#d0d9e7]">
                <p class="text-[#0e131b] text-base font-medium leading-normal">@Localizer["WorstCase"]</p>
                <p class="text-[#0e131b] tracking-light text-2xl font-bold leading-tight">$1,000,000</p>
              </div>
            </div>
            <h3 class="text-[#0e131b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">@Localizer["ForecastChart"]</h3>
            <div class="flex flex-wrap gap-4 px-4 py-6">
              <div class="flex min-w-72 flex-1 flex-col gap-2">
                <p class="text-[#0e131b] text-base font-medium leading-normal">@Localizer["RevenueForecastOverTime"]</p>
                <p class="text-[#0e131b] tracking-light text-[32px] font-bold leading-tight truncate">$1,250,000</p>
                <div class="flex gap-1">
                  <p class="text-[#4d6a99] text-base font-normal leading-normal">Q3 2024</p>
                  <p class="text-[#07883b] text-base font-medium leading-normal">+15%</p>
                </div>
                <div class="flex min-h-[180px] flex-1 flex-col gap-8 py-4">
                  <svg width="100%" height="148" viewBox="-3 0 478 150" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                    <path
                      d="M0 109C18.1538 109 18.1538 21 36.3077 21C54.4615 21 54.4615 41 72.6154 41C90.7692 41 90.7692 93 108.923 93C127.077 93 127.077 33 145.231 33C163.385 33 163.385 101 181.538 101C199.692 101 199.692 61 217.846 61C236 61 236 45 254.154 45C272.308 45 272.308 121 290.462 121C308.615 121 308.615 149 326.769 149C344.923 149 344.923 1 363.077 1C381.231 1 381.231 81 399.385 81C417.538 81 417.538 129 435.692 129C453.846 129 453.846 25 472 25V149H326.769H0V109Z"
                      fill="url(#paint0_linear_1131_5935)"
                    ></path>
                    <path
                      d="M0 109C18.1538 109 18.1538 21 36.3077 21C54.4615 21 54.4615 41 72.6154 41C90.7692 41 90.7692 93 108.923 93C127.077 93 127.077 33 145.231 33C163.385 33 163.385 101 181.538 101C199.692 101 199.692 61 217.846 61C236 61 236 45 254.154 45C272.308 45 272.308 121 290.462 121C308.615 121 308.615 149 326.769 149C344.923 149 344.923 1 363.077 1C381.231 1 381.231 81 399.385 81C417.538 81 417.538 129 435.692 129C453.846 129 453.846 25 472 25"
                      stroke="#4d6a99"
                      stroke-width="3"
                      stroke-linecap="round"
                    ></path>
                    <defs>
                      <linearGradient id="paint0_linear_1131_5935" x1="236" y1="1" x2="236" y2="149" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#e7ecf3"></stop>
                        <stop offset="1" stop-color="#e7ecf3" stop-opacity="0"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                  <div class="flex justify-around">
                    <p class="text-[#4d6a99] text-[13px] font-bold leading-normal tracking-[0.015em]">@Localizer["Month_Jul"]</p>
                    <p class="text-[#4d6a99] text-[13px] font-bold leading-normal tracking-[0.015em]">@Localizer["Month_Aug"]</p>
                    <p class="text-[#4d6a99] text-[13px] font-bold leading-normal tracking-[0.015em]">@Localizer["Month_Sep"]</p>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="text-[#0e131b] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">@Localizer["ForecastDetails"]</h3>
            <div class="px-4 py-3 container">
              <div class="flex overflow-hidden rounded-lg border border-[#d0d9e7] bg-slate-50">
                <table class="flex-1">
                  <thead>
                    <tr class="bg-slate-50">
                      <th class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-120 px-4 py-3 text-left text-[#0e131b] w-[400px] text-sm font-medium leading-normal">@Localizer["Stage"]</th>
                      <th class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-240 px-4 py-3 text-left text-[#0e131b] w-[400px] text-sm font-medium leading-normal">@Localizer["Deals"]</th>
                      <th class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-360 px-4 py-3 text-left text-[#0e131b] w-[400px] text-sm font-medium leading-normal">
                        @Localizer["TotalValue"]
                      </th>
                      <th class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-480 px-4 py-3 text-left text-[#0e131b] w-[400px] text-sm font-medium leading-normal">
                        @Localizer["Probability"]
                      </th>
                      <th class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-600 px-4 py-3 text-left text-[#0e131b] w-[400px] text-sm font-medium leading-normal">
                        @Localizer["WeightedValue"]
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-t border-t-[#d0d9e7]">
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0e131b] text-sm font-normal leading-normal">
                        @Localizer["Prospecting"]
                      </td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-240 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">10</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-360 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">$200,000</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-480 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">10%</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-600 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">$20,000</td>
                    </tr>
                    <tr class="border-t border-t-[#d0d9e7]">
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0e131b] text-sm font-normal leading-normal">
                        @Localizer["Qualification"]
                      </td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-240 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">8</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-360 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">$300,000</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-480 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">30%</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-600 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">$90,000</td>
                    </tr>
                    <tr class="border-t border-t-[#d0d9e7]">
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0e131b] text-sm font-normal leading-normal">@Localizer["Proposal"]</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-240 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">6</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-360 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">$400,000</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-480 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">50%</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-600 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">$200,000</td>
                    </tr>
                    <tr class="border-t border-t-[#d0d9e7]">
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0e131b] text-sm font-normal leading-normal">
                        @Localizer["Negotiation"]
                      </td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-240 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">4</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-360 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">$350,000</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-480 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">75%</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-600 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">$262,500</td>
                    </tr>
                    <tr class="border-t border-t-[#d0d9e7]">
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-120 h-[72px] px-4 py-2 w-[400px] text-[#0e131b] text-sm font-normal leading-normal">
                        @Localizer["ClosedWon"]
                      </td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-240 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">2</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-360 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">$250,000</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-480 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">100%</td>
                      <td class="table-fe3baa63-70a6-4fa9-a5b3-b6eeab1ba4e9-column-600 h-[72px] px-4 py-2 w-[400px] text-[#4d6a99] text-sm font-normal leading-normal">$250,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
